[Desktop Entry]
Encoding=UTF-8
Name=wallpaper engine for kde

Type=Service
ServiceTypes=Plasma/Wallpaper
Icon=preferences-desktop-wallpaper
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Name=WallpaperEngineForKde
X-KDE-PluginInfo-EnabledByDefault=true
